<!DOCTYPE html>
<html>
<head>
<title></title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" /> 
<style type="text/css">
body {
	font-family: Verdana;
	font-size: 8pt;
}
/* The main DIV for the map */
        .subway-map {
	margin: 0;
	width: 400px;
	height:400px;
	background-color: #daa993;
	float: left;
}
/* Text labels */
        .text {
	text-decoration: none;
	color: black;
}
#legend {
	float: left;
	width: 250px;/*height:400px;*/
}
#legend div {
	height: 25px;
}
#legend span {
	margin: 5px 5px 5px 0;
}
.subway-map span {
	margin: 5px 5px 5px 0;
}
#show {
	/*clear:both;*/
float:left;
}
</style>
</head>
<!--作用：获取相应权重input值；并生成一个矩阵数组和表格-->
<body>
<div id="legend" style="float:left"> 权重： 
  <!--<br />a&lt;-&gt;b:--> 
  <!--<input type="text" name="weight" data-point="ab" value="1" />;--> 
  <!--<br /> b&lt;-&gt;d:--> 
  <!--<input type="text" name="weight" data-point="bd" value="2" />;--> 
  <!--<br /> d&lt;-&gt;f:--> 
  <!--<input type="text" name="weight" data-point="df" value="3" />;--> 
  <!--<br /> f&lt;-&gt;e:--> 
  <!--<input type="text" name="weight" data-point="fe" value="4" />;--> 
  <!--<br /> e&lt;-&gt;c:--> 
  <!--<input type="text" name="weight" data-point="ec" value="5" />;--> 
  <!--<br /> a&lt;-&gt;c:--> 
  <!--<input type="text" name="weight" data-point="ac" value="6" />;--> 
  <!--<br /> b&lt;-&gt;c:--> 
  <!--<input type="text" name="weight" data-point="bc" value="7" />;--> 
  <!--<br />c&lt;-&gt;d:--> 
  <!--<input type="text" name="weight" data-point="cd" value="8" />;--> 
  <!--<br />d&lt;-&gt;e:--> 
  <!--<input type="text" name="weight" data-point="de" value="9" />;--> 
  <br>
  a<->b:
  <input type="range"  min="1" max="10" step="1" value="1" data-point="AB" name="weight"/>
  <output></output>
  <br>
  b<->d:
  <input type="range"  min="1" max="10" step="1" value="2" data-point="BD" name="weight"/>
  <output></output>
  <br>
  d<->f:
  <input type="range"  min="1" max="10" step="1" value="3" data-point="DF" name="weight"/>
  <output></output>
  <br>
  f<->e:
  <input type="range"  min="1" max="10" step="1" value="4" data-point="FE" name="weight"/>
  <output></output>
  <br>
  e<->c:
  <input type="range"  min="1" max="10" step="1" value="5" data-point="EC" name="weight"/>
  <output></output>
  <br>
  a<->c:
  <input type="range"  min="1" max="10" step="1" value="6" data-point="AC" name="weight"/>
  <output></output>
  <br>
  b<->c:
  <input type="range"  min="1" max="10" step="1" value="7" data-point="BC" name="weight"/>
  <output></output>
  <br>
  c<->d:
  <input type="range"  min="1" max="10" step="1" value="8" data-point="CD" name="weight"/>
  <output></output>
  <br>
  d<->e:
  <input type="range"  min="1" max="10" step="1" value="9" data-point="DE" name="weight"/>
  <output></output>
  <br>
  <button type="button">获取/生成</button>
</div>
<div class="subway-map" data-columns="10" data-rows="10" data-cellSize="40" data-legendId="legend" data-textClass="text" data-gridNumbers="true" data-grid="true" data-lineWidth="8">
  <ul data-color="#ff4db2" data-label="Edge">
    <li data-coords="1,4">A</li>
    <li data-coords="4,2">B</li>
    <li data-coords="6,3">D</li>
    <li data-coords="9,2">F</li>
    <li data-coords="9,8">E</li>
    <li data-coords="4,8">C</li>
    <li data-coords="1,4"></li>
  </ul>
  <ul data-color="#ff4db2" data-label="jQuery Widgets">
    <li data-coords="4,2"></li>
    <li data-coords="4,8"></li>
    <!--<li data-coords="6,3"></li>--> 
    <!--<li data-coords="9,8"></li>-->
  </ul>
  <ul data-color="#ff4db2" data-label="jQuery Widgets">
    <li data-coords="4,8"></li>
    <li data-coords="6,3"></li>
  </ul>
  <ul data-color="#ff4db2" data-label="jQuery Widgets">
    <li data-coords="6,3"></li>
    <li data-coords="9,8"></li>
  </ul>
</div>
<div id="content" style="float: left;margin-left: 100px;"> </div>
<script id="test" type="text/html">
    <h1>{{title}}</h1>
    <table width="326" height="224" border="1">
        <tr>
            <td>&nbsp;</td>
            {{each Vertexs as value i}}

            <td>{{value}}</td>


            {{/each}}
        </tr>


        {{each list as value i}}
        <!--<li>索引 {{i + 1}} ：{{value}}</li>-->
        <tr>

            <td>{{Vertexs[i]}}</td>
            {{each value as ValueIner i}}

            <td>{{ValueIner}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </table>
        <br>
        设定起始点：<select id="selectlist">

 {{each Vertexs as value i}}

<option value ="{{Vertexs[i]}}">{{Vertexs[i]}}</option>

            {{/each}}
</select>
<br>
<button type="button" id="getgoodpath">计算路线</button>
</script> 
<script src="lib/jquery19.js"></script> 
<script src="lib/aui-artTemplate/template.js"></script> 
<script type="text/javascript" src="jquery.subwayMap-0.5.0.js"></script> 
<script>
var myOwnTodo = function($) {
    var DomValue = Array();
    var Vertexs = [ "A", "B", "C", "D", "E", "F" ];
    var Weight = Array();
    var returnString = "";
    var allPathArray = Array();
    var startPoint = "A";
    //为了柯南动画路径设定变量
    var unitLength = 40;
    var offSetx = 10;
    // alert("asd");
    var offSety = 50;
    var coordinates = Array();
    coordinates["A"] = {};
    coordinates["B"] = {};
    coordinates["C"] = {};
    coordinates["D"] = {};
    coordinates["E"] = {};
    coordinates["F"] = {};
    coordinates["A"].x = 1;
    coordinates["A"].y = 4;
    coordinates["B"].x = 4;
    coordinates["B"].y = 2;
    coordinates["C"].x = 4;
    coordinates["C"].y = 8;
    coordinates["D"].x = 6;
    coordinates["D"].y = 3;
    coordinates["E"].x = 9;
    coordinates["E"].y = 8;
    coordinates["F"].x = 9;
    coordinates["F"].y = 2;
    console.log(coordinates);
    getMousePos = function getMousePos(canvas, evt) {
        var rect = canvas.getBoundingClientRect();
        return {
            x:evt.clientX - rect.left * (canvas.width / rect.width),
            y:evt.clientY - rect.top * (canvas.height / rect.height)
        };
    };
    recursionPermutate = function recursionPermutate(arr, num) {
        var r = [];
        (function f(t, a, n) {
            if (n == 0) return r.push(t);
            for (var i = 0, l = a.length; i < l; i++) {
                f(t.concat(a[i]), a.slice(0, i).concat(a.slice(i + 1)), n - 1);
            }
        })([], arr, num);
        return r;
    };
    indexOf = function indexOf(array, val) {
        for (var i = 0; i < array.length; i++) {
            if (array[i] == val) return i;
        }
        return -1;
    };
    remove = function remove(array, val) {
        var index = this.indexOf(array, val);
        if (index > -1) {
            return array.splice(index, 1);
        }
    };
    getArrayKey = function getArrayKey(arr, value) {
        //var x=undefined;
        for (key in arr) {
            // console.log(i);
            if (arr[key] == value) {
                //console.log(x);// x;//key就是下标
                return key;
            }
        }
    };
    getMaximin = function getMaximin(arr, maximin) {
        if (maximin == "max") {
            return Math.max.apply(Math, arr);
        } else if (maximin == "min") {
            return Math.min.apply(Math, arr);
        }
    };
    getSliderValue = function getSliderValue() {
        $("input[name='weight']").each(function(i) {
            console.log();
            console.log($(this).val());
            console.log($(this).attr("data-point"));
            DomValue[$(this).attr("data-point")] = $(this).val();
            DomValue[$(this).attr("data-point").split("").reverse().join("")] = $(this).val();
        });
        return DomValue;
    };
    generateMatrix = function generateMatrix(Weight) {
        DomValue = getSliderValue();
        for (var i = 0; i < Vertexs.length; i++) {
            Weight[i] = Array();
            for (var k = 0; k < Vertexs.length; k++) {
                if (i == k) {
                    Weight[i][k] = 0;
                } else {
                    DomValueArrayKey = Vertexs[i] + Vertexs[k];
                    console.log("=========?");
                    console.log(DomValueArrayKey);
                    console.log(DomValue[DomValueArrayKey]);
                    console.log("=========?");
                    if (DomValue[DomValueArrayKey] != undefined) {
                        Weight[i][k] = Number(DomValue[DomValueArrayKey]);
                    } else {
                        Weight[i][k] = -1;
                    }
                }
            }
        }
        return Weight;
    };
    getAllPath = function getAllPath(N,vetorsWeightArray) {
        console.log("====debug======");
        console.log(startPoint);
         console.log("====debug======");
           allPathArray = Array();
        for (var k = 1; k <= N; k++) {
            temparray = recursionPermutate(Vertexs, k);
            // 在第一层循环中获得所有可能路径的组合
            console.log(temparray);
            //return false;
            for (x in temparray) {
                temparray[x].unshift(startPoint);
                number = temparray[x].length;
                var seg = 0;
                //每个线段的权重值 例如A->B->C->D:AB，BC，CD
                for (var i = 0; i < number - 1; i++) //循环加权重值：例如A->B->C->D:AB+BC+CD
                {
                    var vetors = Array("A", "B", "C", "D", "E", "F");
                    if (vetorsWeightArray[getArrayKey(vetors, temparray[x][i])][getArrayKey(vetors, temparray[x][i + 1])] < 0) {
                        //根据Vetor_array变量设定的矩阵数组，如果两点之间为负1那么就是两点间没有联通那么，线段的权重值seg设为0
                        seg = 0;
                        break;
                    }
                    seg = seg + vetorsWeightArray[getArrayKey(vetors, temparray[x][i])][getArrayKey(vetors, temparray[x][i + 1])];
                }
                allPathArray[temparray[x].join("->")] = seg;
                if (allPathArray[temparray[x].join("->")] == 0) {
                    //如果为0那么就确定这条路线是走不通的就要舍弃
                    delete allPathArray[temparray[x].join("->")];
                }
            }
        }
        // console.log(allPathArray);
        return allPathArray;
    };
    getOptimalPath = function getOptimalPath(allPathArray) {
         returnString = "";
        for (x in Vertexs) {
            pathWeightSumArray = Array();
            //这个声明数组代表按照路线终点分类保存相应的加权值，为了进行排序得到某一终点多种路线的最优解
            //例如以A点出发到达B点可能会有多种可行路线但是加权值排序后只有最小的一个最优解
            temparray = Array();
            //把按终点分类的多种可能路线存入到每个数组对应上面for (kk in Vetor)；例如"B", "C", "D", "E", "F"这几个点分类后都有多条线路；为了下面"拼接"成合理的数组
            for (key in allPathArray) {
                //key为Allpath_array数组的键，例如：A->B->C->D: 11中的A->B->C->D
                if (key.split("->").slice(-1) == Vertexs[x]) {
                    //对key进行字符串转换数组处理，并和Vetor数组中的"B,C,D,E,F"节点比对，对Allpath_array数组进行分类处理
                    //例如从A点到B点所有的可能连接的线段集合，并把加权值push进入rr数组
                    //  console.log(key + ":" + Allpath_array[key]);
                    pathWeightSumArray.push(allPathArray[key]);
                    temparray[key] = allPathArray[key];
                }
            }
            pathWeightSumArray.sort(function(a, b) {
                return a - b;
            });
            console.log(pathWeightSumArray);
            var miniWeightSumValue = getMaximin(pathWeightSumArray, "min");
            console.log("===============>");
            console.log(miniWeightSumValue);
            console.log("===============>");
            // console.log(temparray);
            for (x in temparray) {
                //    if (temparray[x] == pathWeightSumArray[0]) {
                if (temparray[x] == miniWeightSumValue) {
                    console.log(x);
                    console.log(temparray[x]);
                    returnString += "<p>" + x + ":" + temparray[x] + '<a href="javascript:void (0)" data-path="' + x + '" class="goodpath">show</a></p>';
                }
            }
        }
        //  console.log(returnString);
        return '<h3 style="margin-top: 0px;">最优解</h3>' + returnString;
    };
    GetPath = function GetPath(allPathArray) {
      //  getAllPath();
        return pathResults = getOptimalPath(allPathArray);
    };
    
    
    run = function() {
        $(document).ready(function() {
            $(".subway-map").subwayMap({
                debug:false
            });
            start_node_img = '<img src="5555.png" style=" position: absolute; top:110px;left:280px;  width: 60px;z-index: 50000;"></img>';
            $(".subway-map").after(start_node_img);
            $("#legend").find("div").not($("#legend").find("div").first()).remove();
            var canvas = $("canvas")[8];
            var ctx = canvas.getContext("2d");
            console.log(ctx);
            canvas.addEventListener("click", function(evt) {
                var mousePos = getMousePos(canvas, evt);
                console.log(mousePos.x + "," + mousePos.y);
            }, false);
            $("input[name='weight']").each(function(i) {
                //console.log();
                $(this).next().html($(this).val());
                $(this).bind("input propertychange", function() {
                    $(this).next().html($(this).val());
                });
            });
            console.log(Vertexs.length);
            //stringObject.length
            $("button").click(function() {
                console.log(Weight);
                console.log(DomValue);
                var data = {
                    title:"矩阵演示",
                    //list: Weight,
                    list:generateMatrix(Weight),
                    Vertexs:Vertexs
                };
                var html = template("test", data);
                
                document.getElementById("content").innerHTML = html;
              
              
              
              
              
                //alert($("#selectlist").val());
                $("#selectlist").change(function() {
                    lefx = coordinates[$(this).val()].x * unitLength + 240;
                    topy = coordinates[$(this).val()].y * unitLength - offSety;
                    $("img").animate({
                        left:lefx + "px",
                        top:topy + "px"
                    }, 500);
                    startPoint = $(this).val();
                });
                
                
                $("#getgoodpath").click(function() {
                    pathArray = Array();
                    Vertexs = [ "A", "B", "C", "D", "E", "F" ];
                    remove(Vertexs, startPoint);
                    vetorsWeightArray = Weight;
                    
                    console.log("===========new===========");
                    console.log(Vertexs);
                    console.log("===========new===========");
                    N = Vertexs.length;
                    console.log(getAllPath(N,vetorsWeightArray));
                    
                  //return false;
                    //console.log(GetPath(getAllPath(N,vetorsWeightArray)));
                    $("#getgoodpath").after(GetPath(getAllPath(N,vetorsWeightArray)));
                    
                    //return false;
                    
                    $(".goodpath").click(function() {
                        moveArray = $(this).attr("data-path").split("->");
                        N = moveArray.length;
                        console.log(N);
                        for (var i = 0; i < N; i++) {
                            console.log(moveArray[i]);
                            lefx = coordinates[moveArray[i]].x * unitLength + 240;
                            //- offSetx;
                            topy = coordinates[moveArray[i]].y * unitLength - offSety;
                            $("img").animate({
                                left:lefx + "px",
                                top:topy + "px"
                            }, 1200);
                        }
                        //运动完后还要返回原点咯～
                        for (var i = N - 1; i >= 0; i--) {
                            lefx = coordinates[moveArray[i]].x * unitLength + 240;
                            //- offSetx;
                            topy = coordinates[moveArray[i]].y * unitLength - offSety;
                            $("img").animate({
                                left:lefx + "px",
                                top:topy + "px"
                            }, "slow");
                        }
                    });
                });
            });
        });
    };
    return {
        run:run
    };
}($);

myOwnTodo.run();

</script>
</body>
</html>