<!DOCTYPE html>
<html>
<head>
    <title></title>

</head>
<body>
<div class="wrapper" id="content">645456465546546</div>

<script id="test" type="text/html">
    <h1>{{title}}</h1>
    <ul>
        {{each list as value i}}
        <li>索引 {{i + 1}} ：{{value}}</li>
        {{/each}}
    </ul>
</script>



</body>
<script data-main="js/main.js" src="require.js"></script>
<!--<script  src="js/template.js"></script>-->
<!--<script  src="js/main.js"></script>-->


</html>